body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: "Anton", sans-serif;
  justify-content: center;
  align-items: center;
}

.night {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, rgb(95, 145, 255), rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px rgb(105, 155, 255));
  animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(95, 145, 255), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), rgb(95, 145, 255), rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(-45deg);
  border-radius: 100%;
  animation: shining 3000ms ease-in-out infinite;
}
.shooting_star:nth-child(1) {
  top: calc(50% - -426px);
  left: calc(50% - -276px);
  animation-delay: 7333ms;
  opacity: 0.5;
  transform: scale(0.53);
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
  animation-delay: 7333ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - 256px);
  left: calc(50% - 132px);
  animation-delay: 656ms;
  opacity: 0.45;
  transform: scale(0.86);
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
  animation-delay: 656ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - -434px);
  left: calc(50% - 560px);
  animation-delay: 3608ms;
  opacity: 0.5;
  transform: scale(0.54);
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
  animation-delay: 3608ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - -363px);
  left: calc(50% - 410px);
  animation-delay: 9648ms;
  opacity: 0.74;
  transform: scale(0.65);
}
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
  animation-delay: 9648ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - 280px);
  left: calc(50% - -168px);
  animation-delay: 4040ms;
  opacity: 0.48;
  transform: scale(0.72);
}
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
  animation-delay: 4040ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - 246px);
  left: calc(50% - 437px);
  animation-delay: 2001ms;
  opacity: 0.81;
  transform: scale(0.54);
}
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
  animation-delay: 2001ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - -310px);
  left: calc(50% - 153px);
  animation-delay: 3772ms;
  opacity: 0.6;
  transform: scale(0.54);
}
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
  animation-delay: 3772ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - -74px);
  left: calc(50% - -65px);
  animation-delay: 8356ms;
  opacity: 0.49;
  transform: scale(0.94);
}
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
  animation-delay: 8356ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - 409px);
  left: calc(50% - 113px);
  animation-delay: 2448ms;
  opacity: 0.67;
  transform: scale(0.73);
}
.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
  animation-delay: 2448ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - 438px);
  left: calc(50% - -45px);
  animation-delay: 1846ms;
  opacity: 0.92;
  transform: scale(0.61);
}
.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
  animation-delay: 1846ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - -381px);
  left: calc(50% - -276px);
  animation-delay: 4022ms;
  opacity: 0.82;
  transform: scale(0.97);
}
.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
  animation-delay: 4022ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - -149px);
  left: calc(50% - 89px);
  animation-delay: 497ms;
  opacity: 0.61;
  transform: scale(0.7);
}
.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
  animation-delay: 497ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - 296px);
  left: calc(50% - 341px);
  animation-delay: 8382ms;
  opacity: 0.76;
  transform: scale(0.96);
}
.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
  animation-delay: 8382ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - -477px);
  left: calc(50% - -198px);
  animation-delay: 5452ms;
  opacity: 0.5;
  transform: scale(0.81);
}
.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
  animation-delay: 5452ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - 208px);
  left: calc(50% - -287px);
  animation-delay: 854ms;
  opacity: 0.68;
  transform: scale(0.92);
}
.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
  animation-delay: 854ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - 58px);
  left: calc(50% - 181px);
  animation-delay: 2449ms;
  opacity: 0.77;
  transform: scale(0.59);
}
.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
  animation-delay: 2449ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - -34px);
  left: calc(50% - 665px);
  animation-delay: 7335ms;
  opacity: 0.47;
  transform: scale(0.77);
}
.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
  animation-delay: 7335ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - 414px);
  left: calc(50% - 15px);
  animation-delay: 7351ms;
  opacity: 0.93;
  transform: scale(0.94);
}
.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
  animation-delay: 7351ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - -303px);
  left: calc(50% - 317px);
  animation-delay: 2542ms;
  opacity: 0.74;
  transform: scale(0.84);
}
.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
  animation-delay: 2542ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - 280px);
  left: calc(50% - 106px);
  animation-delay: 8074ms;
  opacity: 0.61;
  transform: scale(0.59);
}
.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
  animation-delay: 8074ms;
}
.shooting_star:nth-child(21) {
  top: calc(50% - 385px);
  left: calc(50% - 557px);
  animation-delay: 1550ms;
  opacity: 0.81;
  transform: scale(0.74);
}
.shooting_star:nth-child(21)::before, .shooting_star:nth-child(21)::after {
  animation-delay: 1550ms;
}
.shooting_star:nth-child(22) {
  top: calc(50% - 141px);
  left: calc(50% - -206px);
  animation-delay: 5877ms;
  opacity: 0.48;
  transform: scale(0.93);
}
.shooting_star:nth-child(22)::before, .shooting_star:nth-child(22)::after {
  animation-delay: 5877ms;
}
.shooting_star:nth-child(23) {
  top: calc(50% - -435px);
  left: calc(50% - 667px);
  animation-delay: 8152ms;
  opacity: 0.57;
  transform: scale(0.57);
}
.shooting_star:nth-child(23)::before, .shooting_star:nth-child(23)::after {
  animation-delay: 8152ms;
}
.shooting_star:nth-child(24) {
  top: calc(50% - -326px);
  left: calc(50% - -127px);
  animation-delay: 2166ms;
  opacity: 0.64;
  transform: scale(0.88);
}
.shooting_star:nth-child(24)::before, .shooting_star:nth-child(24)::after {
  animation-delay: 2166ms;
}
.shooting_star:nth-child(25) {
  top: calc(50% - -319px);
  left: calc(50% - -79px);
  animation-delay: 452ms;
  opacity: 0.85;
  transform: scale(0.8);
}
.shooting_star:nth-child(25)::before, .shooting_star:nth-child(25)::after {
  animation-delay: 452ms;
}
.shooting_star:nth-child(26) {
  top: calc(50% - 193px);
  left: calc(50% - 634px);
  animation-delay: 3486ms;
  opacity: 0.66;
  transform: scale(0.98);
}
.shooting_star:nth-child(26)::before, .shooting_star:nth-child(26)::after {
  animation-delay: 3486ms;
}
.shooting_star:nth-child(27) {
  top: calc(50% - 366px);
  left: calc(50% - 122px);
  animation-delay: 8981ms;
  opacity: 0.76;
  transform: scale(0.82);
}
.shooting_star:nth-child(27)::before, .shooting_star:nth-child(27)::after {
  animation-delay: 8981ms;
}
.shooting_star:nth-child(28) {
  top: calc(50% - -449px);
  left: calc(50% - 303px);
  animation-delay: 243ms;
  opacity: 0.55;
  transform: scale(0.64);
}
.shooting_star:nth-child(28)::before, .shooting_star:nth-child(28)::after {
  animation-delay: 243ms;
}
.shooting_star:nth-child(29) {
  top: calc(50% - -18px);
  left: calc(50% - -230px);
  animation-delay: 4120ms;
  opacity: 0.49;
  transform: scale(0.66);
}
.shooting_star:nth-child(29)::before, .shooting_star:nth-child(29)::after {
  animation-delay: 4120ms;
}
.shooting_star:nth-child(30) {
  top: calc(50% - -302px);
  left: calc(50% - -55px);
  animation-delay: 8930ms;
  opacity: 0.97;
  transform: scale(0.97);
}
.shooting_star:nth-child(30)::before, .shooting_star:nth-child(30)::after {
  animation-delay: 8930ms;
}
.shooting_star:nth-child(31) {
  top: calc(50% - -475px);
  left: calc(50% - -5px);
  animation-delay: 4901ms;
  opacity: 0.83;
  transform: scale(0.95);
}
.shooting_star:nth-child(31)::before, .shooting_star:nth-child(31)::after {
  animation-delay: 4901ms;
}
.shooting_star:nth-child(32) {
  top: calc(50% - -284px);
  left: calc(50% - 78px);
  animation-delay: 4325ms;
  opacity: 0.82;
  transform: scale(0.91);
}
.shooting_star:nth-child(32)::before, .shooting_star:nth-child(32)::after {
  animation-delay: 4325ms;
}
.shooting_star:nth-child(33) {
  top: calc(50% - 493px);
  left: calc(50% - 412px);
  animation-delay: 8641ms;
  opacity: 0.97;
  transform: scale(1);
}
.shooting_star:nth-child(33)::before, .shooting_star:nth-child(33)::after {
  animation-delay: 8641ms;
}
.shooting_star:nth-child(34) {
  top: calc(50% - -293px);
  left: calc(50% - -94px);
  animation-delay: 5085ms;
  opacity: 0.55;
  transform: scale(0.68);
}
.shooting_star:nth-child(34)::before, .shooting_star:nth-child(34)::after {
  animation-delay: 5085ms;
}
.shooting_star:nth-child(35) {
  top: calc(50% - -409px);
  left: calc(50% - 387px);
  animation-delay: 7518ms;
  opacity: 0.95;
  transform: scale(0.95);
}
.shooting_star:nth-child(35)::before, .shooting_star:nth-child(35)::after {
  animation-delay: 7518ms;
}
.shooting_star:nth-child(36) {
  top: calc(50% - 132px);
  left: calc(50% - 664px);
  animation-delay: 6144ms;
  opacity: 0.41;
  transform: scale(0.56);
}
.shooting_star:nth-child(36)::before, .shooting_star:nth-child(36)::after {
  animation-delay: 6144ms;
}
.shooting_star:nth-child(37) {
  top: calc(50% - -289px);
  left: calc(50% - -296px);
  animation-delay: 1621ms;
  opacity: 0.83;
  transform: scale(1);
}
.shooting_star:nth-child(37)::before, .shooting_star:nth-child(37)::after {
  animation-delay: 1621ms;
}
.shooting_star:nth-child(38) {
  top: calc(50% - 50px);
  left: calc(50% - 398px);
  animation-delay: 752ms;
  opacity: 0.75;
  transform: scale(0.65);
}
.shooting_star:nth-child(38)::before, .shooting_star:nth-child(38)::after {
  animation-delay: 752ms;
}
.shooting_star:nth-child(39) {
  top: calc(50% - -124px);
  left: calc(50% - 210px);
  animation-delay: 241ms;
  opacity: 0.65;
  transform: scale(0.68);
}
.shooting_star:nth-child(39)::before, .shooting_star:nth-child(39)::after {
  animation-delay: 241ms;
}
.shooting_star:nth-child(40) {
  top: calc(50% - 202px);
  left: calc(50% - 380px);
  animation-delay: 7956ms;
  opacity: 0.58;
  transform: scale(0.79);
}
.shooting_star:nth-child(40)::before, .shooting_star:nth-child(40)::after {
  animation-delay: 7956ms;
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 150px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 40px;
  }
  100% {
    width: 0;
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(500px);
  }
}
.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.stars::after:nth-child(1) {
  content: "";
  position: absolute;
  top: 20vh;
  left: 77vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.59;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(2) {
  content: "";
  position: absolute;
  top: 11vh;
  left: 56vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.4;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(3) {
  content: "";
  position: absolute;
  top: 76vh;
  left: 99vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.87;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(4) {
  content: "";
  position: absolute;
  top: 49vh;
  left: 73vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.96;
  animation: twinkle 4s infinite ease-in-out;
}
.stars::after:nth-child(5) {
  content: "";
  position: absolute;
  top: 84vh;
  left: 36vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.62;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(6) {
  content: "";
  position: absolute;
  top: 76vh;
  left: 98vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.85;
  animation: twinkle 4s infinite ease-in-out;
}
.stars::after:nth-child(7) {
  content: "";
  position: absolute;
  top: 48vh;
  left: 42vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.69;
  animation: twinkle 4s infinite ease-in-out;
}
.stars::after:nth-child(8) {
  content: "";
  position: absolute;
  top: 15vh;
  left: 70vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.9;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(9) {
  content: "";
  position: absolute;
  top: 57vh;
  left: 69vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.91;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(10) {
  content: "";
  position: absolute;
  top: 34vh;
  left: 62vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.51;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(11) {
  content: "";
  position: absolute;
  top: 74vh;
  left: 45vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.95;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(12) {
  content: "";
  position: absolute;
  top: 87vh;
  left: 19vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.38;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(13) {
  content: "";
  position: absolute;
  top: 69vh;
  left: 68vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.51;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(14) {
  content: "";
  position: absolute;
  top: 88vh;
  left: 77vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.45;
  animation: twinkle 4s infinite ease-in-out;
}
.stars::after:nth-child(15) {
  content: "";
  position: absolute;
  top: 47vh;
  left: 46vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.35;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(16) {
  content: "";
  position: absolute;
  top: 99vh;
  left: 32vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.65;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(17) {
  content: "";
  position: absolute;
  top: 74vh;
  left: 37vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.82;
  animation: twinkle 5s infinite ease-in-out;
}
.stars::after:nth-child(18) {
  content: "";
  position: absolute;
  top: 52vh;
  left: 29vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.88;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(19) {
  content: "";
  position: absolute;
  top: 96vh;
  left: 29vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.86;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(20) {
  content: "";
  position: absolute;
  top: 51vh;
  left: 84vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.68;
  animation: twinkle 4s infinite ease-in-out;
}
.stars::after:nth-child(21) {
  content: "";
  position: absolute;
  top: 50vh;
  left: 94vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.6;
  animation: twinkle 5s infinite ease-in-out;
}
.stars::after:nth-child(22) {
  content: "";
  position: absolute;
  top: 4vh;
  left: 93vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.86;
  animation: twinkle 4s infinite ease-in-out;
}
.stars::after:nth-child(23) {
  content: "";
  position: absolute;
  top: 19vh;
  left: 61vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.32;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(24) {
  content: "";
  position: absolute;
  top: 41vh;
  left: 35vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.98;
  animation: twinkle 5s infinite ease-in-out;
}
.stars::after:nth-child(25) {
  content: "";
  position: absolute;
  top: 41vh;
  left: 5vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.41;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(26) {
  content: "";
  position: absolute;
  top: 23vh;
  left: 43vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.68;
  animation: twinkle 5s infinite ease-in-out;
}
.stars::after:nth-child(27) {
  content: "";
  position: absolute;
  top: 16vh;
  left: 16vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 1;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(28) {
  content: "";
  position: absolute;
  top: 51vh;
  left: 63vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.46;
  animation: twinkle 5s infinite ease-in-out;
}
.stars::after:nth-child(29) {
  content: "";
  position: absolute;
  top: 70vh;
  left: 93vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.85;
  animation: twinkle 5s infinite ease-in-out;
}
.stars::after:nth-child(30) {
  content: "";
  position: absolute;
  top: 69vh;
  left: 61vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.31;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(31) {
  content: "";
  position: absolute;
  top: 42vh;
  left: 33vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.55;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(32) {
  content: "";
  position: absolute;
  top: 7vh;
  left: 91vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.4;
  animation: twinkle 4s infinite ease-in-out;
}
.stars::after:nth-child(33) {
  content: "";
  position: absolute;
  top: 35vh;
  left: 43vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.82;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(34) {
  content: "";
  position: absolute;
  top: 25vh;
  left: 91vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.95;
  animation: twinkle 4s infinite ease-in-out;
}
.stars::after:nth-child(35) {
  content: "";
  position: absolute;
  top: 90vh;
  left: 71vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.82;
  animation: twinkle 5s infinite ease-in-out;
}
.stars::after:nth-child(36) {
  content: "";
  position: absolute;
  top: 90vh;
  left: 51vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.92;
  animation: twinkle 4s infinite ease-in-out;
}
.stars::after:nth-child(37) {
  content: "";
  position: absolute;
  top: 25vh;
  left: 43vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.79;
  animation: twinkle 4s infinite ease-in-out;
}
.stars::after:nth-child(38) {
  content: "";
  position: absolute;
  top: 57vh;
  left: 72vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.35;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(39) {
  content: "";
  position: absolute;
  top: 27vh;
  left: 71vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.84;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(40) {
  content: "";
  position: absolute;
  top: 4vh;
  left: 49vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.48;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(41) {
  content: "";
  position: absolute;
  top: 60vh;
  left: 31vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.32;
  animation: twinkle 4s infinite ease-in-out;
}
.stars::after:nth-child(42) {
  content: "";
  position: absolute;
  top: 49vh;
  left: 5vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.7;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(43) {
  content: "";
  position: absolute;
  top: 49vh;
  left: 42vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.37;
  animation: twinkle 5s infinite ease-in-out;
}
.stars::after:nth-child(44) {
  content: "";
  position: absolute;
  top: 24vh;
  left: 93vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.9;
  animation: twinkle 4s infinite ease-in-out;
}
.stars::after:nth-child(45) {
  content: "";
  position: absolute;
  top: 54vh;
  left: 52vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.55;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(46) {
  content: "";
  position: absolute;
  top: 77vh;
  left: 97vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.41;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(47) {
  content: "";
  position: absolute;
  top: 14vh;
  left: 5vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.59;
  animation: twinkle 4s infinite ease-in-out;
}
.stars::after:nth-child(48) {
  content: "";
  position: absolute;
  top: 64vh;
  left: 28vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.65;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(49) {
  content: "";
  position: absolute;
  top: 65vh;
  left: 85vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.62;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(50) {
  content: "";
  position: absolute;
  top: 80vh;
  left: 58vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.51;
  animation: twinkle 4s infinite ease-in-out;
}
.stars::after:nth-child(51) {
  content: "";
  position: absolute;
  top: 47vh;
  left: 22vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.66;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(52) {
  content: "";
  position: absolute;
  top: 48vh;
  left: 16vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.72;
  animation: twinkle 5s infinite ease-in-out;
}
.stars::after:nth-child(53) {
  content: "";
  position: absolute;
  top: 60vh;
  left: 58vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.52;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(54) {
  content: "";
  position: absolute;
  top: 50vh;
  left: 33vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.42;
  animation: twinkle 4s infinite ease-in-out;
}
.stars::after:nth-child(55) {
  content: "";
  position: absolute;
  top: 94vh;
  left: 30vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.62;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(56) {
  content: "";
  position: absolute;
  top: 52vh;
  left: 36vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.52;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(57) {
  content: "";
  position: absolute;
  top: 88vh;
  left: 45vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.84;
  animation: twinkle 4s infinite ease-in-out;
}
.stars::after:nth-child(58) {
  content: "";
  position: absolute;
  top: 40vh;
  left: 97vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.54;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(59) {
  content: "";
  position: absolute;
  top: 38vh;
  left: 27vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.79;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(60) {
  content: "";
  position: absolute;
  top: 16vh;
  left: 68vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.61;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(61) {
  content: "";
  position: absolute;
  top: 9vh;
  left: 89vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.48;
  animation: twinkle 4s infinite ease-in-out;
}
.stars::after:nth-child(62) {
  content: "";
  position: absolute;
  top: 51vh;
  left: 6vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.67;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(63) {
  content: "";
  position: absolute;
  top: 19vh;
  left: 37vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.58;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(64) {
  content: "";
  position: absolute;
  top: 93vh;
  left: 65vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.32;
  animation: twinkle 5s infinite ease-in-out;
}
.stars::after:nth-child(65) {
  content: "";
  position: absolute;
  top: 87vh;
  left: 40vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.73;
  animation: twinkle 5s infinite ease-in-out;
}
.stars::after:nth-child(66) {
  content: "";
  position: absolute;
  top: 81vh;
  left: 92vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.68;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(67) {
  content: "";
  position: absolute;
  top: 2vh;
  left: 92vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.82;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(68) {
  content: "";
  position: absolute;
  top: 76vh;
  left: 19vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 1;
  animation: twinkle 5s infinite ease-in-out;
}
.stars::after:nth-child(69) {
  content: "";
  position: absolute;
  top: 99vh;
  left: 17vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.87;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(70) {
  content: "";
  position: absolute;
  top: 73vh;
  left: 71vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.5;
  animation: twinkle 5s infinite ease-in-out;
}
.stars::after:nth-child(71) {
  content: "";
  position: absolute;
  top: 85vh;
  left: 1vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.48;
  animation: twinkle 5s infinite ease-in-out;
}
.stars::after:nth-child(72) {
  content: "";
  position: absolute;
  top: 5vh;
  left: 8vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.79;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(73) {
  content: "";
  position: absolute;
  top: 67vh;
  left: 42vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.35;
  animation: twinkle 5s infinite ease-in-out;
}
.stars::after:nth-child(74) {
  content: "";
  position: absolute;
  top: 56vh;
  left: 22vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.64;
  animation: twinkle 5s infinite ease-in-out;
}
.stars::after:nth-child(75) {
  content: "";
  position: absolute;
  top: 75vh;
  left: 27vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.41;
  animation: twinkle 4s infinite ease-in-out;
}
.stars::after:nth-child(76) {
  content: "";
  position: absolute;
  top: 63vh;
  left: 39vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.7;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(77) {
  content: "";
  position: absolute;
  top: 47vh;
  left: 32vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.48;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(78) {
  content: "";
  position: absolute;
  top: 63vh;
  left: 94vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.54;
  animation: twinkle 5s infinite ease-in-out;
}
.stars::after:nth-child(79) {
  content: "";
  position: absolute;
  top: 37vh;
  left: 90vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.63;
  animation: twinkle 5s infinite ease-in-out;
}
.stars::after:nth-child(80) {
  content: "";
  position: absolute;
  top: 63vh;
  left: 97vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.53;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(81) {
  content: "";
  position: absolute;
  top: 63vh;
  left: 47vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.47;
  animation: twinkle 4s infinite ease-in-out;
}
.stars::after:nth-child(82) {
  content: "";
  position: absolute;
  top: 73vh;
  left: 64vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.76;
  animation: twinkle 4s infinite ease-in-out;
}
.stars::after:nth-child(83) {
  content: "";
  position: absolute;
  top: 99vh;
  left: 72vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.77;
  animation: twinkle 5s infinite ease-in-out;
}
.stars::after:nth-child(84) {
  content: "";
  position: absolute;
  top: 67vh;
  left: 39vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.6;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(85) {
  content: "";
  position: absolute;
  top: 68vh;
  left: 27vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.39;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(86) {
  content: "";
  position: absolute;
  top: 8vh;
  left: 73vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.52;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(87) {
  content: "";
  position: absolute;
  top: 24vh;
  left: 12vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.82;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(88) {
  content: "";
  position: absolute;
  top: 23vh;
  left: 2vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.97;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(89) {
  content: "";
  position: absolute;
  top: 45vh;
  left: 89vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.65;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(90) {
  content: "";
  position: absolute;
  top: 42vh;
  left: 73vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.92;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(91) {
  content: "";
  position: absolute;
  top: 89vh;
  left: 89vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.78;
  animation: twinkle 4s infinite ease-in-out;
}
.stars::after:nth-child(92) {
  content: "";
  position: absolute;
  top: 42vh;
  left: 90vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.44;
  animation: twinkle 5s infinite ease-in-out;
}
.stars::after:nth-child(93) {
  content: "";
  position: absolute;
  top: 54vh;
  left: 26vw;
  width: 0.1px;
  height: 0.1px;
  background: white;
  border-radius: 50%;
  opacity: 0.74;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(94) {
  content: "";
  position: absolute;
  top: 85vh;
  left: 54vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.45;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(95) {
  content: "";
  position: absolute;
  top: 30vh;
  left: 14vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.42;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(96) {
  content: "";
  position: absolute;
  top: 90vh;
  left: 23vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.44;
  animation: twinkle 4s infinite ease-in-out;
}
.stars::after:nth-child(97) {
  content: "";
  position: absolute;
  top: 28vh;
  left: 98vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.64;
  animation: twinkle 6s infinite ease-in-out;
}
.stars::after:nth-child(98) {
  content: "";
  position: absolute;
  top: 3vh;
  left: 23vw;
  width: 0.3px;
  height: 0.3px;
  background: white;
  border-radius: 50%;
  opacity: 0.67;
  animation: twinkle 3s infinite ease-in-out;
}
.stars::after:nth-child(99) {
  content: "";
  position: absolute;
  top: 86vh;
  left: 8vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.93;
  animation: twinkle 5s infinite ease-in-out;
}
.stars::after:nth-child(100) {
  content: "";
  position: absolute;
  top: 11vh;
  left: 81vw;
  width: 0.2px;
  height: 0.2px;
  background: white;
  border-radius: 50%;
  opacity: 0.52;
  animation: twinkle 3s infinite ease-in-out;
}

@keyframes twinkle {
  0%, 100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.8;
  }
}

/*# sourceMappingURL=effect.css.map */
